%li
  .user.d-flex
    .username.w-25
      = link_to post.user.name, user_path(post.user)
    = render 'relationships/follow_form', user: post.user

  %span.timestamp
    = l post.created_at, format: :long

  %span.content
    = safe_join post.content.split("\n"), tag(:br)

