%li
  %span.user
    -# = link_to post.user.name, post.user
    #{post.user.name}

  %span.timestamp
    = l post.created_at, format: :long

  %span.content
    = safe_join post.content.split("\n"), tag(:br)

